.hero-container {
  display: flex;
  gap: 0;
  background-color: #f4f4f4;
  max-height: 905px;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 25px 50px;
}

.hero-title {
  max-width: 660px;
  font-size: 60px;
  font-weight: 500;
  line-height: 75.42px;
  margin: 0;
}

.img-hero-title {
  border-radius: 50%;
}

.hero-desc-wrap {
  display: flex;
  flex-direction: column;
}

.hero-desc {
  font-size: 16px;
  font-weight: 400;
  max-width: 375px;
  line-height: 20.11px;
}

.hero-right {
  position: relative;
  flex: 1;
}

.hero-btn {
  background-color: #010101;
  max-width: 250px;
  height: 75px;
  padding: 15px 29px;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
}

.img-code, .img-melo, .img-caution {
  position: absolute;
}

.img-code {
  left: -25%;
  top: 40%;
  max-width: 519.42px;
}

.img-melo {
  left: 15%;
  bottom: 0;
  max-width: 516px;
  height: 752px;
}

.img-caution {
  right: 25%;
  bottom: -5%;
  rotate: -30deg;
  max-width: 194px;
  max-height: 752px;
}

.hero-right-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 344px;
  height: 67px;
  background: rgba(1, 1, 1, 0.5);
  display: flex;
  align-items: center;
  padding-left: 70px;
  gap: 10px;
}

.hero-right-text {
  font-size: 20px;
  font-weight: 250;
  color: white;
}

/* Mobile */
.hero-right-mobile {
  display: none;
  position: relative;
}

.img-frame1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.img-code, .img-melo, .img-caution {
  width: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 1024px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-title {
    font-size: 34px;
    line-height: 40.8px;
  }

  .hero-left {
    gap: 40px;
    padding: 30px 16px;
  }

  .hero-right {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero-container {
    margin-bottom: 12rem;
  }

  .hero-right-mobile {
    display: block;
    margin-top: 20px;
    height: 479.67px;
  }

  .img-code {
    max-width: 275px;
    left: 0;
    top: 40%;
  }

  .img-melo {
    max-width: 275px;
    height: 100%;
  }

  .img-caution {
    max-width: 103px;
    right: 10%;
  }

  .hero-right-desc {
    width: 200px;
    height: 50px;
    padding-left: 10px;
    bottom: 1%;
  }
}