.header-container {
  padding: 50px 16px 50px 50px;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.menu-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  gap: 26px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
  flex: 1;
}

.menu-item {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 250;
  display: flex;
  align-items: center;
}

.location-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 101px;
  height: 34px;
  background-color: #E8E8E8;
  border-radius: 12px;
  flex: 1;
  cursor: pointer;
}

.location-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text-location {
  font-size: 22px;
  font-weight: 700;
}

.location-icon {
  color: #2C3247;
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  left: 0;
  background-color: #E8E8E8;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 12px 8px;
  border-radius: 8px;
  width: 137px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 10;
}

.dropdown-menu li {
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 15px;
  max-height: 29px;
  border-radius: 8px;
}

.dropdown-menu li p {
  font-size: 16px;
  font-weight: 400;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #333;
  display: block;
}

.dropdown-menu li:hover {
  background: white;
}

.active {
  background-color: white;
}

.header-container-mobile {
  display: none;
}

.header-left-mobile {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
}

.brand {
  font-size: 20px;
  font-weight: 700;
}

/* Mobile */
.menu-mobile {
  position: fixed;
  top: 0;
  right: -327px;
  width: 327px;
  height: 100vh;
  color: white;
  transition: all 0.3s ease-in-out;
  background: #000000DE;
}

.open-menu-mobile {
  right: 0;
}

.menu-mobile-close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  padding: 20px;
  max-width: fit-content;
  margin-top: 10px;
}

.menu-mobile-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
}

.menu-mobile-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-mobile-item p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px
}

.menu-mobile-icon-arrow {
  rotate: 90deg;
}

.menu-mobile-social-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.menu-mobile-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top: 1px solid #A3A3A3;
  border-bottom: 1px solid #A3A3A3;
  padding: 30px 30px 20px 30px;
}

.menu-mobile-copyright {
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  padding: 30px 0;
}

@media (max-width: 1024px) {
  .header-container {
    display: none;
  }

  .header-container-mobile {
    padding: 25px 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
